<a href="https://colab.research.google.com/github/Yashika-06/python-yashika/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= int(input("what's your first number: "))
b= int(input("your second number: "))
c= a+b
print ("your sum is: ", c)

what's your first number: 1
your second number: 2
your sum is:  3

In [ ]:
a= "what's your first number: "
print("z" in a)

False

In [ ]:
#to build a calculator

a= int(input("first number: "))
operator= input("enter your operator(+,-,*,/,//):  ")
b= int(input("second number: "))

if operator =="+":
  print (a+b)
elif operator =="-":
  print (a-b)
elif operator=="*":
  print(a*b)
elif operator=="/":
  print (a/b)
elif operator=="//":
  print (a//b)
else:
  print("invalid equation")

first number: 25
enter your operator(+,-,*,/,//):  /
second number: 5
5.0

In [ ]:
a= range(6)
print (a)

range(0, 6)

In [ ]:
i = 1
while i <= 5:
  print (i * "$")
  i = i*2

$
$$
$$$$

In [ ]:
for i in range(1,11):
  print (2 , "*", i ,"=", i*2 )

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
for i in range(11):
  print (5 , "*" , i , "=" , 5*i)

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
print= ("sum--> ", sum(range(0,11)))

In [ ]:
a= int(input("provide your number: "))

for i in range(0,11):
  t = a * i
  print ( a , "*" , i , "=", t)

provide your number: 5

TypeError: 'tuple' object is not callable

In [ ]:
a= int(input("number to be multiplied: "))

for i in range (0,11):
  a= a+1
print (a)

number to be multiplied: 1
12

In [ ]:
a= int(input("enter number one: "))
#b= int(input("enter number two: "))



if a%2==0:
  print("isn't odd")
else:
  print("isn't even")

enter number one: 2
isn't odd

In [ ]:
marks= [90,91,92,93]
a= input("to add what number: ")

i=a
while i in range(4):
  print (i)
#print(marks)

to add what number: 1

In [ ]:
a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

Enter First String : ayush
Enter Second String: yashika
a < b

In [ ]:
a= input("number one: ")
b= input("number two: ")

c= (a,b)
print(max(c))

number one: 15
number two: 70
70

In [ ]:
def item (a,b):
	c=a+b
	return c

a= int(input("enter a: "))
b= int(input("enter b: "))

print (item)

enter a: 10
enter b: 20
<function item at 0x7f99a02b1000>

In [ ]:
def item (n):
	s= range(n+1)
	return s

n= int(input("gimme number: "))

print ( item (n))
#print ("AddN(20)  --> ", AddN(20))
#print ("AddN(50)  --> ", AddN(50))
#print ("AddN(200) --> ", AddN(200))

gimme number: 10
range(0, 11)

In [ ]:

def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10)  --> ", AddN(10))

AddN(10)  -->  55

In [ ]:
var = 'Hello World!'
print ( var)
#print ("var[0]   --> ", var[0])
#print ("var[1:5] --> ", var[1:5])
#print ("var[:-5] --> ", var[:-5])

Hello World!

In [ ]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print (s1==s1[::-1])

False

In [ ]:
import random as y
print (y.randint(-10,-1))

-2

In [ ]:
import random as r

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (r.sample(A, 2))
#print (r.sample(A, 2))
#print (r.sample(range(0,100), 2))
#print (r.sample(range(-100,100), 5))

[5, 7]

In [ ]:
import string as s
import random as r
print ("String        --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 6)
print ("Selected Char --> ",passwd)

String        -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Selected Char -->  ['h', 'V', 'd', 'Y', 's', 'N']

In [ ]:
import string as s
#import random as r
print (s.digits)

0123456789

In [ ]:
L=[3, 6, 9, 12, 5, 3, 2]


print ("\nBefore Sort            --> ", L)
L.sort()

print ("After Sort (Asending)  --> ", L)

L.sort(reverse=True)
print ("After Sort (Desending) --> ", L)

Before Sort            -->  [3, 6, 9, 12, 5, 3, 2]
After Sort (Asending)  -->  [2, 3, 3, 5, 6, 9, 12]
After Sort (Desending) -->  [12, 9, 6, 5, 3, 3, 2]

In [ ]:
file= input("what file  to open: ")

try:
  fp=open(file)

except:
  print("file not found")

what file  to open: appu.txt
file not found

In [ ]:
l= ["aaloo", "kchaaloo", 100, 69]
i=0
while i<len(l):

  print (l[i])
  i+=1

aaloo
kchaaloo
100
69

In [ ]:
CGPA={1:8.9, 2:5.6, 4:6.7, 7:9.1, 8:5.3}


print ("CGPA of 1       --> ", [1])
print ("CGPA of 4       --> ", CGPA[4])
print ("CGPA of 7       --> ", CGPA[7])
print ("CGPA of 3       --> ", CGPA[3])

CGPA of 1       -->  [1]
CGPA of 4       -->  6.7
CGPA of 7       -->  9.1

KeyError: 3

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
i=0
while i<len(T):
  print(T[i])
  i+=1

Pratham
Sharma
3.14
3

In [ ]:
T = (3, 6, 9, 12, 5, 3, 2)

print("1st elemt is: ", sum(T))

1st elemt is:  40

In [ ]:
T1 = (3, 6, 9)
T2 = (12, 5, 3, 2)

t3= T1[:1]+T2[1:3]
print(t3)

(3, 5, 3)

In [ ]:
fp=open('appu.txt','w')

for  i in range(1,11):
	fp.write(str(i) + "\n")



print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

In [ ]:
data = []

In [ ]:
with open('data.txt','r') as file:
  for line in file:
    studentEntry = tuple(line.strip().split(','))
    data.append(studentEntry)

In [ ]:
print(data)

[('Avani', ' 1004', '  168'), ('Aakshi     1010', ' 170'), ('Yashika    1004', ' 250'), ('Prina', ' 1009', ' 199'), ('Pavit', ' 1011', '     175'), ('Avani        1004         168',), ('Aakshi     1010        170',), ('Yashika    1004        250',), ('Prina        1009        199',), ('Pavit        1011            175',)]

In [ ]:
Readfp=open('data.txt')		# Open the file in reading mode

for line in Readfp:



Readfp.close()

print("printed: ")

IndentationError: expected an indented block after 'for' statement on line 3 (<ipython-input-10-d26f43e6aef0>, line 7)

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)

n= int(input("what to remove: "))

T1 = list(T)
del T1[n]

T = tuple(T1)

print ("After Delete -->", T)

what to remove: 1
After Delete --> ('Pratham', 3.14, 3)

In [ ]:
a = set(['A', 'B', 'E', 'F' ])

a.pop()
print ("Set After pop        --> ", a)

a.pop()
print ("Set After pop        --> ", a)

Set After pop        -->  {'A', 'F', 'B'}
Set After pop        -->  {'F', 'B'}

In [ ]:
L = list(("abc",44))
l = []
for i in range(0,2):
 l[i] = input()

print(0)

1

IndexError: list assignment index out of range

In [ ]:
fp=open('set.txt','w')	# Open the file in writing mode
for  i in range(1,11):
	fp.write(str(i) + "\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen result.txt to view the content")

Writing done !!
Open result.txt to view the content

In [ ]:
data=[]

In [ ]:
with open('database1000.xls','w') as file:
  for line in file:
    studentEntry = tuple(line.strip().split(','))
    data.append(studentEntry)

In [ ]:
fp= open('set.txt', 'w')
for i in range (0,20):
  fp.write(str(i)+ "\n")
fp.close()
print('done')

done

In [ ]:
fp= open('data.txt', 'w')
n = len (data.txt)
for i in range(0,n):
  print(data.txt[i])

AttributeError: 'list' object has no attribute 'txt'

In [ ]:
fp= open('data.txt', 'w')
for i in len(fp):
    print(L[i])

TypeError: object of type '_io.TextIOWrapper' has no len()

In [ ]:
L = [["Avani" ,	1004,	  168],["Aakshi", 1010, 170],["Yashika",1004,250],["Prina", 1009, 199],["Pavit",1011,175]]
n = 5

for i in range(0,n):
 print(L[i])

std = input("Who do you want to update?")
marks = input("Enter new marks: ")

for i in range(0,n):
 if(L[i][0]==std):
   L[i][2]=marks

print("Updated database")
for i in range(0,n):
 print(L[i])

['Avani', 1004, 168]
['Aakshi', 1010, 170]
['Yashika', 1004, 250]
['Prina', 1009, 199]
['Pavit', 1011, 175]
Who do you want to update?aakshi
Enter new marks: 200
Updated database
['Avani', 1004, 168]
['Aakshi', 1010, 170]
['Yashika', 1004, 250]
['Prina', 1009, 199]
['Pavit', 1011, 175]

In [ ]:
data=[]

In [ ]:
with open('data.txt','r') as file:
  for line in file:
    Avani = tuple(line.strip().split(','))
    data.append(Avani)

In [ ]:
with open("data.txt", "r") as file:
    # Read lines from the file and convert them to integers
    numbers = [int(line.strip()) for line in file]

# Calculate the sum of the numbers
total_sum = sum(numbers)

# Display the sum
print(f"Sum of numbers: {total_sum}")

ValueError: invalid literal for int() with base 10: 'Avani        1004         168'

In [ ]:
data= []

In [ ]:
with open ('pythonset.txt','r') as file:
  for line in file:
    studentEntry = list(line.strip().split('    '))
    data.append(studentEntry)

In [ ]:
(data)

In [ ]:
nameStudent = input("Enter student name: ")

for i in range(len(data)):
  if(data[i][1] == nameStudent):
    print(data[i])

Enter student name: aaron
('1490', 'aaron', '23')

In [ ]:
marksStudent = input('Enter updated marks: ')

for i in range(len(data)):
  if(data[i][1] == nameStudent):
    print('Before: ', data[i])
    data[i][2] = marksStudent
    print('After: ', data[i])

Enter updated marks: 89
Before:  ['1490', 'aaron', '23']
After:  ['1490', 'aaron', '89']

In [ ]:
for i in range(len(data)):
  if(data[i][2] <= str(10)):
    print(data[i][1])

milissa
ladarion
harvey
mihail
maccoy
jannett
robertson
tanmay
chivas
xaria
karrine

In [ ]:
data.sort

In [ ]:
for i in range(2, len(marksStudent)):
  print(max(marksStudent[i]))

In [ ]:
#is prime or not
def isPrime(n):
  f = 0
  for i in range(2, n//2 + 1):
    if n%i == 0:
      f = 1
      break

  if(f==1):
    return True
  else:
    return False


for i in range(len(data)):
  if(isPrime(int([i][0]))):
    print(data[i])

['1004', 'charelle', '14']
['1006', 'dago', '87']
['1008', 'jhase', '33']
['1009', 'derika', '79']
['1010', 'larsen', '93']
['1012', 'katianna', '98']
['1014', 'destane', '28']
['1015', 'nechole', '28']
['1016', 'destani', '99']
['1018', 'surafel', '28']
['1020', 'patryck', '47']
['1021', 'carrisa', '55']
['1022', 'destany', '9']
['1024', 'elea', '71']
['1025', 'valli', '39']
['1026', 'issaac', '76']
['1027', 'blade', '98']
['1028', 'ayleen', '85']
['1030', 'jorell', '78']
['1032', 'milissa', '0']
['1033', 'faizon', '34']
['1034', 'kerrion', '95']
['1035', 'marlita', '61']
['1036', 'johnita', '2']
['1038', 'courtany', '9']
['1039', 'daryel', '57']
['1040', 'loey', '77']
['1042', 'misti', '94']
['1044', 'ramonia', '52']
['1045', 'danamarie', '11']
['1046', 'samatha', '50']
['1048', 'antwion', '3']
['1049', 'jaeline', '47']
['1050', 'nashiya', '23']
['1051', 'silvino', '27']
['1052', 'kathrynne', '92']
['1054', 'umeka', '77']
['1055', 'shantea', '30']
['1056', 'shantel', '40']
['1057', 'ferlin', '94']
['1058', 'debroh', '96']
['1060', 'jewelz', '84']
['1062', 'ladarion', '10']
['1063', 'jewell', '60']
['1064', 'swayze', '20']
['1065', 'isley', '30']
['1066', 'dexter', '54']
['1068', 'shanitra', '28']
['1069', 'henchy', '98']
['1070', 'kimberleigh', '61']
['1072', 'leiland', '95']
['1074', 'bryanah', '96']
['1075', 'dazhane', '86']
['1076', 'leilani', '44']
['1077', 'vernon', '4']
['1078', 'mersades', '4']
['1080', 'taide', '45']
['1081', 'jarexy', '66']
['1082', 'randell', '62']
['1084', 'glenna', '80']
['1085', 'ondina', '38']
['1086', 'timtohy', '62']
['1087', 'ziair', '11']
['1088', 'patryce', '73']
['1090', 'kynadie', '46']
['1091', 'zalaya', '81']
['1092', 'ondine', '36']
['1093', 'adamari', '8']
['1094', 'indigo', '69']
['1095', 'edgardo', '88']
['1096', 'taseen', '73']
['1098', 'kayci', '17']
['1099', 'anquette', '61']
['1100', 'kayce', '17']
['1102', 'bradrick', '39']
['1104', 'joquan', '46']
['1105', 'navie', '66']
['1106', 'navid', '36']
['1108', 'navin', '27']
['1110', 'khylei', '20']
['1111', 'raiquan', '96']
['1112', 'mihail', '0']
['1114', 'maccoy', '1']
['1115', 'elek', '95']
['1116', 'shaquell', '12']
['1117', 'jazalyn', '51']
['1118', 'briaunna', '70']
['1119', 'addam', '34']
['1120', 'issaiah', '55']
['1121', 'suellyn', '98']
['1122', 'jayliana', '20']
['1123', 'cope', '13']
['1124', 'anjali', '65']
['1125', 'mabel', '33']
['1126', 'shimon', '70']
['1128', 'willy', '32']
['1129', 'even', '14']
['1130', 'ashden', '74']
['1132', 'akaash', '20']
['1133', 'averly', '85']
['1134', 'haadi', '55']
['1135', 'jazelyn', '83']
['1136', 'jannett', '0']
['1138', 'jayel', '62']
['1140', 'rayssa', '30']
['1141', 'sevrin', '24']
['1142', 'willa', '99']
['1143', 'robertson', '10']
['1144', 'reneta', '29']
['1145', 'wille', '98']
['1146', 'jannete', '70']
['1147', 'gwenyth', '6']
['1148', 'abbott', '6']
['1150', 'trayvion', '68']
['1152', 'zareen', '85']
['1153', 'royer', '62']
['1154', 'montague', '47']
['1155', 'jaymarie', '51']
['1156', 'srihitha', '96']
['1158', 'kyren', '22']
['1159', 'tannar', '37']
['1160', 'macio', '96']
['1161', 'harriette', '9']
['1162', 'quintell', '47']
['1164', 'wanita', '80']
['1165', 'macie', '43']
['1166', 'peytan', '25']
['1168', 'xzayvion', '58']
['1169', 'jakhari', '54']
['1170', 'shams', '3']
['1171', 'enza', '41']
['1172', 'jameca', '39']
['1174', 'jermeka', '50']
['1175', 'jaedah', '29']
['1176', 'idali', '30']
['1177', 'brayen', '97']
['1178', 'jaedan', '30']
['1180', 'idaly', '88']
['1182', 'ziomara', '21']
['1183', 'kahlel', '12']
['1184', 'kahlen', '69']
['1185', 'susie', '22']
['1186', 'tanmay', '10']
['1187', 'toleen', '69']
['1188', 'kahlea', '7']
['1189', 'kahleb', '45']
['1190', 'aleina', '7']
['1192', 'vaishnavi', '62']
['1194', 'jeret', '85']
['1195', 'azumi', '98']
['1196', 'safia', '25']
['1198', 'corinne', '75']
['1200', 'amylah', '69']
['1201', 'corinna', '55']
['1202', 'phyliss', '63']
['1203', 'owyn', '56']
['1204', 'nigel', '17']
['1205', 'kimyra', '79']
['1206', 'adrina', '63']
['1207', 'ibrahima', '70']
['1208', 'carmin', '63']
['1209', 'mizraim', '11']
['1210', 'kateria', '98']
['1212', 'chante', '95']
['1213', 'mairin', '97']
['1214', 'aeriell', '88']
['1215', 'shenica', '73']
['1216', 'chanti', '87']
['1217', 'ishmeal', '85']
['1218', 'katerin', '74']
['1219', 'rosealie', '9']
['1220', 'danese', '39']
['1221', 'keidrick', '52']
['1222', 'kaja', '82']
['1224', 'dafny', '4']
['1225', 'shaneiqua', '92']
['1226', 'takenya', '48']
['1228', 'binta', '7']
['1230', 'appolonia', '84']
['1231', 'aaliyana', '98']
['1232', 'ciaran', '16']
['1234', 'aniyah', '47']
['1235', 'tarvis', '25']
['1236', 'lealani', '4']
['1237', 'lealand', '86']
['1238', 'daddy', '2']
['1240', 'jaxan', '23']
['1242', 'jalayla', '56']
['1243', 'xaria', '1']
['1244', 'zeth', '4']
['1245', 'jayleigh', '81']
['1246', 'zeta', '33']
['1247', 'neco', '35']
['1248', 'aidon', '24']
['1249', 'rolland', '67']
['1250', 'jocilynn', '78']
['1252', 'fontaine', '33']
['1253', 'kennard', '71']
['1254', 'rhondalyn', '37']
['1255', 'thea', '26']
['1256', 'pascual', '18']
['1258', 'coralee', '14']
['1259', 'linnaea', '61']
['1260', 'millianna', '93']
['1261', 'jasin', '44']
['1262', 'jotham', '25']
['1264', 'pooja', '32']
['1265', 'jessye', '86']
['1266', 'alisande', '88']
['1267', 'seif', '7']
['1268', 'pandora', '28']
['1270', 'jesicca', '24']
['1272', 'karrin', '50']
['1273', 'karrie', '60']
['1274', 'armida', '95']
['1275', 'karris', '27']
['1276', 'natesha', '66']
['1278', 'marke', '37']
['1279', 'daion', '31']
['1280', 'marka', '99']
['1282', 'marko', '21']
['1284', 'bobak', '20']
['1285', 'gagandeep', '37']
['1286', 'darya', '83']
['1287', 'daryn', '97']
['1288', 'daryl', '74']
['1289', 'taquisha', '63']
['1290', 'mylan', '64']
['1291', 'taiyo', '74']
['1292', 'mylah', '4']
['1294', 'taiya', '57']
['1295', 'tian', '85']
['1296', 'tiah', '57']
['1297', 'keinan', '69']
['1298', 'caniyah', '31']
['1299', 'tynia', '3']
['1300', 'yariah', '15']
['1301', 'tiaa', '64']
['1302', 'jaloni', '85']
['1303', 'hoang', '7']
['1304', 'faduma', '79']
['1305', 'raionna', '74']
['1306', 'mayara', '26']
['1308', 'rilie', '24']
['1309', 'theotis', '82']
['1310', 'mayari', '75']
['1312', 'leiliana', '83']
['1314', 'vianey', '70']
['1315', 'shalaina', '94']
['1316', 'chelsia', '95']
['1318', 'karsen', '44']
['1319', 'jabe', '89']
['1320', 'shanigua', '38']
['1321', 'tymia', '74']
['1322', 'anderson', '52']
['1323', 'yaileen', '69']
['1324', 'tymir', '20']
['1325', 'kenyah', '51']
['1326', 'shanetra', '48']
['1327', 'ziva', '2']
['1328', 'anitria', '21']
['1329', 'chidinma', '21']
['1330', 'cassara', '36']
['1332', 'danicka', '13']
['1333', 'rithik', '99']
['1334', 'shraga', '84']
['1335', 'falan', '87']
['1336', 'laury', '29']
['1338', 'leman', '77']
['1339', 'loryn', '47']
['1340', 'sanja', '37']
['1341', 'laura', '15']
['1342', 'laure', '73']
['1343', 'lemar', '47']
['1344', 'lauri', '53']
['1345', 'macaela', '84']
['1346', 'pebble', '89']
['1348', 'lauro', '93']
['1350', 'daivion', '14']
['1351', 'haileyann', '66']
['1352', 'jadasia', '2']
['1354', 'allianna', '35']
['1355', 'meghin', '80']
['1356', 'nykolas', '25']
['1357', 'shaquina', '45']
['1358', 'cherry', '28']
['1360', 'jorie', '47']
['1361', 'remington', '84']
['1362', 'poseidon', '18']
['1363', 'chade', '50']
['1364', 'chadd', '36']
['1365', 'clayt', '53']
['1366', 'delsin', '9']
['1368', 'donovan', '94']
['1369', 'velva', '67']
['1370', 'cierria', '47']
['1371', 'murl', '81']
['1372', 'elgin', '85']
['1374', 'elgie', '4']
['1375', 'avien', '22']
['1376', 'zyere', '50']
['1377', 'madeliene', '73']
['1378', 'marlon', '50']
['1380', 'karrine', '1']
['1381', 'meily', '65']
['1382', 'karrina', '43']
['1384', 'skya', '28']
['1385', 'scottie', '99']
['1386', 'skyy', '9']
['1387', 'jewels', '88']
['1388', 'shahrzad', '41']
['1390', 'keilee', '88']
['1391', 'ranferi', '85']
['1392', 'peder', '44']
['1393', 'keilen', '61']
['1394', 'korissa', '97']
['1395', 'keiley', '57']
['1396', 'tracen', '14']
['1398', 'tracee', '73']
['1399', 'zaidyn', '82']
['1400', 'tahara', '76']
['1402', 'persia', '63']
['1403', 'dashanay', '20']
['1404', 'tracer', '39']
['1405', 'jessamy', '71']
['1406', 'martyn', '23']
['1407', 'gavin', '68']
['1408', 'michaelyn', '36']
['1410', 'belton', '88']
['1411', 'dashanae', '11']
['1412', 'braxtyn', '30']
['1413', 'eryn', '55']
['1414', 'tammera', '15']
['1415', 'camala', '20']
['1416', 'hydeia', '53']
['1417', 'happy', '66']
['1418', 'eternity', '13']
['1420', 'ewing', '27']
['1422', 'oscar', '89']
['1423', 'beyonka', '70']
['1424', 'nahshon', '31']
['1425', 'tajuana', '72']
['1426', 'spence', '89']
['1427', 'vitaliy', '3']
['1428', 'jaykwon', '76']
['1429', 'abbigayle', '38']
['1430', 'javonte', '48']
['1432', 'javonta', '95']
['1434', 'tralana', '74']
['1435', 'crislyn', '23']
['1436', 'kenishia', '80']
['1437', 'christyana', '16']
['1438', 'rawley', '84']
['1440', 'brenda', '91']
['1441', 'marilou', '23']
['1442', 'aissatou', '41']
['1444', 'antawn', '84']
['1445', 'steven', '60']
['1446', 'zissel', '8']
['1447', 'johnanthony', '51']
['1448', 'stevee', '9']
['1450', 'tyriek', '17']
['1451', 'kiondra', '93']
['1452', 'kiondre', '39']
['1453', 'hawra', '37']
['1454', 'quadree', '5']
['1455', 'adeyemi', '98']
['1456', 'susana', '53']
['1458', 'klayten', '23']
['1459', 'emberlee', '81']
['1460', 'susann', '59']
['1462', 'demarco', '5']
['1464', 'lilliana', '86']
['1465', 'seve', '5']
['1466', 'ariyel', '40']
['1468', 'cally', '53']
['1469', 'gerrit', '67']
['1470', 'tyshia', '25']
['1471', 'jakeb', '67']
['1472', 'calla', '96']
['1473', 'gerrie', '8']
['1474', 'jaken', '90']
['1475', 'fredericka', '95']
['1476', 'genesi', '21']
['1477', 'alima', '45']
['1478', 'navneet', '12']
['1480', 'leilana', '93']
['1481', 'ranbir', '37']
['1482', 'shakelia', '65']
['1483', 'clintona', '70']
['1484', 'shaquitta', '5']
['1485', 'lizeth', '25']
['1486', 'maryjo', '91']
['1488', 'abimael', '41']
['1489', 'valdez', '80']
['1490', 'aaron', '89']
['1492', 'marinda', '29']
['1493', 'mekhiya', '40']
['1494', 'joleen', '20']
['1495', 'dejuan', '56']
['1496', 'endy', '58']
['1497', 'jullianna', '87']
['1498', 'aneesia', '56']
['1500', 'endi', '69']

In [ ]:
#sum
fp=open('pythonset.txt')
sum=0
next(fp)
for line in fp:
  rollno,name,marks=line.split()
  sum +=int(marks)
print(sum)
fp.close()

25438

In [ ]:
#max min
max_marks=0
min_marks=0

fp=open('pythonset.txt')
next(fp)
for line in fp:
  rollno, name, marks=line.split()
  marks=int(marks)
  if marks>max_marks:
    max_marks=marks
  if marks<min_marks:
    min_marks=marks
print(max_marks)
print(min_marks)
fp.close()

100
0

In [ ]:
#odd
fp=open('pythonset.txt')
next(fp)
for line in fp:
  rollno, name, marks=line.split()
  marks=int(marks)
  if marks%2!=0:
    print(name, marks)
fp.close()

satara 43
rory 51
elizeo 97
dago 87
poetry 63
jhase 33
derika 79
larsen 93
ayodeji 47
destani 99
deklyn 23
aixa 35
patryck 47
carrisa 55
destany 9
cael 27
elea 71
valli 39
ayleen 85
lyberti 11
kerrion 95
marlita 61
courtany 9
daryel 57
loey 77
navayah 37
danamarie 11
antwion 3
jaeline 47
nashiya 23
silvino 27
shantee 29
umeka 77
kimberleigh 61
leiland 95
halona 15
taide 45
ziair 11
patryce 73
tatayana 7
zalaya 81
indigo 69
taseen 73
adamary 91
kayci 17
anquette 61
kayce 17
bradrick 39
estanislao 49
navil 81
navin 27
rakita 7
maccoy 1
elek 95
jazalyn 51
issaiah 55
cope 13
anjali 65
mabel 33
averly 85
haadi 55
jazelyn 83
willa 99
reneta 29
myan 49
zareen 85
montague 47
jaymarie 51
smitha 33
tannar 37
harriette 9
quintell 47
alok 7
macie 43
peytan 25
yevonne 85
shams 3
enza 41
jameca 39
shama 89
jaedah 29
brayen 97
karrisa 45
temeca 59
ziomara 21
kahlen 69
toleen 69
kahlea 7
kahleb 45
aleina 7
janessa 51
chivas 1
jeret 85
safia 25
corinne 75
diamond 59
amylah 69
corinna 55
phyliss 63
nigel 17
kimyra 79
adrina 63
carmin 63
mizraim 11
chante 95
mairin 97
shenica 73
chanti 87
ishmeal 85
rosealie 9
danese 39
aubrina 75
avaya 57
binta 7
amyiah 79
zachory 55
aniyah 47
tarvis 25
rania 97
jaxan 23
xaria 1
jayleigh 81
zeta 33
neco 35
rolland 67
theo 77
fontaine 33
kennard 71
rhondalyn 37
linnaea 61
millianna 93
jotham 25
rajesh 41
seif 7
mahlet 13
litsy 59
armida 95
karris 27
marke 37
daion 31
marka 99
marko 21
marki 15
gagandeep 37
darya 83
daryn 97
taquisha 63
taiya 57
tian 85
tiah 57
keinan 69
caniyah 31
tynia 3
yariah 15
jaloni 85
hoang 7
faduma 79
nysir 97
mayari 75
leiliana 83
shalaine 27
chelsia 95
jabe 89
yaileen 69
kenyah 51
anitria 21
chidinma 21
danicka 13
rithik 99
falan 87
laury 29
kalicia 5
leman 77
loryn 47
sanja 37
laura 15
laure 73
lemar 47
lauri 53
pebble 89
lauro 93
ghazi 77
brittnie 87
allianna 35
nykolas 25
shaquina 45
shya 23
jorie 47
clayt 53
delsin 9
velva 67
cierria 47
murl 81
elgin 85
madeliene 73
chizaram 23
karrine 1
meily 65
karrina 43
scottie 99
skyy 9
shahrzad 41
ranferi 85
keilen 61
korissa 97
keiley 57
tamyah 53
tracee 73
persia 63
tracer 39
jessamy 71
martyn 23
dashanae 11
eryn 55
tammera 15
hydeia 53
eternity 13
laneisha 95
ewing 27
oscar 89
nahshon 31
spence 89
vitaliy 3
javonta 95
missael 21
crislyn 23
brenda 91
marilou 23
aissatou 41
brendt 27
johnanthony 51
stevee 9
brendy 7
tyriek 17
kiondra 93
kiondre 39
hawra 37
quadree 5
susana 53
klayten 23
emberlee 81
susann 59
emberley 97
demarco 5
ileana 5
seve 5
lilliann 47
cally 53
gerrit 67
tyshia 25
jakeb 67
fredericka 95
genesi 21
alima 45
genese 99
leilana 93
ranbir 37
shakelia 65
shaquitta 5
lizeth 25
maryjo 91
deneane 15
abimael 41
aaron 23
lizett 79
marinda 29
jullianna 87
endi 69

In [ ]:
a= input("say first: ")
b= input("say then: ")
c= a + b
print(c)

say first: hello
say then: world
hello world

In [ ]:

for i in range (2,13,2):
  print(i)

2
4
6
8
10
12

In [ ]:
for i in range (11):
  print (7, "*", i , "=", 7*i)
  print(9, "*", i , "=", 9*i)

7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
9 * 10 = 90

In [ ]:
n= int(input("give noombr: "))
for i in range (11):
  print (n , "*", i , "=", n*i)

give noombr: 7
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
s=0
for i in range (1,6):
   s= s+i
print (s)

15

In [ ]:
n= int(input("give a number: "))
for i in range (1, n):
  n= n+i
print(n)

give a number: 5
15

In [ ]:
n = int(input("first: "))

def isodd(n):
  if n%2==0:
    return 0
  return 1
print(isodd(n))

first: 23
1

In [ ]:
a = int(input("number: "))

f= 0
for i in range(2, a//2 +1):
  if a%1==0:
    f=1
    break

if f==0:
  print(" not prime")
else:
  print("prime")

number: 23
prime

In [ ]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0:
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Enter a No: 23
Prime

In [ ]:
#WAP to find max amoung three numbers and input from user. [Try max() function]

a = int(input("no 1: "))
b=  int(input("no 2: "))
c = int(input("no 3: "))

print(max(a,b,c))

no 1: 12
no 2: 24
no 3: 36
36

In [ ]:
# WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

n = int(input("number: "))
f=0

for i in range(1, n+1):
  if i % 7==0 and i % 9==0:
    f+=i
  print(f"sum to {n} is : {f}")

In [ ]:
n = int(input("Enter a number (n): "))
f= 0

for i in range (2, n//2 + 1 ):
  if n % 1==0:
    f=1
    break

print(f)

Enter a number (n): 23
1

In [ ]:
def addn(a,b):
  c= a+ b
  return c
print("sum is: ", addn(10,20))

sum is:  30

In [ ]:
n= int(input("number: "))

def Isprime(n):
  for i in range(2, n//2 + 1):
    if n % i ==0:
      return 0
  return 1


print ("your number is ", Isprime(n))

number: 23
your number is  1

In [ ]:
n= int(input("number: "))
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime  --> ", IsPrime(n))

number: 23
IsPrime  -->  1

In [ ]:
n= int(input("number: "))
def AddN(n):
  s = sum(range(n+1))
  return s
print("summ is", AddN(n))

number: 10
summ is 55

In [ ]:
n= int(input("number: "))
def Add_Odd(n):
  if n % 2 !==0:

In [ ]:
import random as r

a = ["yes", "no", "maybe", "yess for sure", "stop questioning even"]

print(r.sample(a,1))

['no']

In [ ]:
import string as s
import random as r

print(r.sample(s.ascii_letters, 2))

['t', 'o']

In [ ]:
import string as s
import random as r

splChar= "#@!~%^&*()_+=-[]{}|"
mixPasswd=r.sample(splChar + s.ascii_letters + s.digits, 8)
print ("\nSelected Str3 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd3    --> ",mixPasswd)

SyntaxError: invalid syntax (<ipython-input-25-acc5ce4f7fce>, line 4)

In [ ]:
L=[3, 6, 9, 12, 5, 3, 2]
print ("Original List --> ", L)

print ("max --> ", max(L))
print ("min --> ", min(L))

print ("\nBefore Sort            --> ", L)
L.sort()

print ("\nAfter Sort (Asending)  --> ", L)

L.sort(reverse=True)
print ("\nAfter Sort (Desending) --> ", L)

Original List -->  [3, 6, 9, 12, 5, 3, 2]
max -->  12
min -->  2

Before Sort            -->  [3, 6, 9, 12, 5, 3, 2]

After Sort (Asending)  -->  [2, 3, 3, 5, 6, 9, 12]

After Sort (Desending) -->  [12, 9, 6, 5, 3, 3, 2]

In [ ]:
T = ["Pratham", 'Sharma', 3.14, 3]   # Convert list to tuple
#T = tuple(("Pratham", 'Sharma', 3.14, 3))  # Also Works

print ("T               -->", T)
print ("Num of elements -->", len(T))
print ("Type of Object  -->", type(T))

T               --> ['Pratham', 'Sharma', 3.14, 3]
Num of elements --> 4
Type of Object  --> <class 'list'>

In [ ]:
T = ("Pratham", 'Sharma', 3.14, 3)
print ("T            -->", T)

T1 = list(T)
T1.insert( 2, "Rahul")
T = tuple(T1)

print ("After Insert -->", T)

T            --> ('Pratham', 'Sharma', 3.14, 3)
After Insert --> ('Pratham', 'Sharma', 'Rahul', 3.14, 3)
T            --> ('Pratham', 'Sharma', 3.14, 3)
After Insert --> ('Pratham', 'Sharma', 'Rahul', 3.14, 3)

In [ ]:
import sys
print (sys.argv)
a = int(sys.argv[1])
b = int(sys.argv[2])
c = a + b
print (a, " + ", b, " --> ", c)

['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-74c1a0ea-13d3-47eb-9a4e-180e10354a9e.json']

ValueError: invalid literal for int() with base 10: '-f'

In [ ]:
L=[3, 6, 9, 12, 5, 3, 2]
n= input("gimme number: ")
if (n in L)== True:
  print("present")
else:
  print("absent")

gimme number: 6
absent

In [ ]:
import random as r
print(142200000+round(10*r.random()))

142200003

In [ ]:
T = ["Yashika", 1005, "Patiala", 8]
print(T)
T.insert(3,5.5555)
print (T)
print(type(T))

['Yashika', 1005, 'Patiala', 8]
['Yashika', 1005, 'Patiala', 5.5555, 8]
<class 'list'>

In [ ]:
L = list(("abc",44))
l = []
for i in range(0,2):
 l[i] = input()

print(l)

1

IndexError: list assignment index out of range

In [ ]:
A = set([1,2,3,4])
print(A.pop())

1

In [ ]:
a = set(['A', 'B', 'E', 'F' ])


a.pop()
print (a)

{'A', 'B', 'F'}

In [ ]:
T= ("ab", "cd", 3.14)
i = 0
while i < len(T):
 print(T[i])
 i+=1

ab
cd
3.14

In [ ]:
T= ("ab", "cd", 3.14)
for s in T:
  print(s)

ab
cd
3.14

In [ ]:
T = ("sam", "Shyam", "Human", "Ant")      # String Tuple
print ("T   -->", T)
print ("Max -->", max(T))
print ("Min -->", min(T))

T   --> ('sam', 'Shyam', 'Human', 'Ant')
Max --> sam
Min --> Ant

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
i = 0
while i < len(L):
  print(L[i])
  i+=1

In [ ]:
filename= input("eneter file name: ")
try:
  fp= open(filename)
  fp.close()
except:
  print("error \"%s\" not found"%(filename))

eneter file name: txtx
error "txtx" not found

In [ ]:
import random as r
print(1400000+round(10*r.random()))

1400004

In [ ]:
import random as r
A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(r.sample(A,2))

[5, 6]

In [ ]:
L = ["Pratham",  'Sharma', 3.14,  3 ]
i=0
while i < len(L):
	print (L[i])
	i+=1

Pratham
Sharma
3.14
3

In [ ]:
import random as r
import string as s

psswrd2= r.sample(s.digits+s.ascii_letters, 5)
print(psswrd2)

['z', 'b', 'd', 'i', '7']

In [ ]:
name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s= "\nYour name is %s and age is %d and the price of book is %f" %(name.upper(), age, price)
print(s)

Enter your name: shamu
Enter your age : 19
Enter the book price: 13.567

Your name is SHAMU and age is 19 and the price of book is 13.567000

In [ ]:

var =" Indian,   Army    "


# Strip + Split
print("var split --> ", var.strip().split(','))

var split -->  ['Indian,', 'Army']
var split -->  ['', 'Indian,', '', '', 'Army', '', '', '', '']
var split -->  [' Indian', '   Army    ']
var split -->  ['Indian', '   Army']

In [ ]:
def checkprime(n):
  for i in range(2, n//2 +1):
    if n%i==0:
      return 0
  return 1
n= int(input("number : "))
print(checkprime(n))

number : 23
1

In [ ]:
# WAP to add all the numbers from 1 to n and n is given by user

n= int(input("give a number: "))
for i in range(0,n):

  print(i)
  i+=1

give a number: 10
0
1
2
3
4
5
6
7
8
9

In [ ]:
def is_prime(n):
    for i in range(2, n//2 +1):
        if n % i == 0:
            return False
    return True
print(is_prime(n))

def sum_primes_up_to_n(n):
    s = 0
    for i in range(2, n + 1):
        if is_prime(i):
            s+=i
    return s

n = int(input("Enter a number (n): "))
result = sum_primes_up_to_n(n)
print(result)

True
Enter a number (n): 20
77

In [ ]:
A = set([1,2,3,4])
A.pop()
print(A)
print(A)
print(A.pop())
print(A)

A.add(0)
print(A)
A.add(1000)
print(A)

{2, 3, 4}
{2, 3, 4}
2
{3, 4}
{0, 3, 4}
{0, 3, 4, 1000}

In [ ]:
L = list(("abc",44))
l = []
for i in range(0,2):
 l[i] = input()

print(l)

KeyboardInterrupt: Interrupted by user

In [ ]:
import sys
print (sys.argv)
a = int(sys.argv[1]) 	# First Number
b = int(sys.argv[2])	# Second Number
c = a +" "+ b
print (a, " + ", b, " --> ", c)

['/usr/local/lib/python3.10/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-ccfd41cc-ddca-47bd-9f88-c867320455c9.json']

ValueError: invalid literal for int() with base 10: '-f'